<md-tab-group>
  <md-tab>
    <template md-tab-label>Status</template>
    <template md-tab-content>
      <h1>Some tab content</h1>
      <h1>
        {{title}} 1
        <button md-raised-button>RAISED</button>
      </h1>
    </template>
  </md-tab>
  <md-tab>
    <template md-tab-label>Tracks</template>
    <template md-tab-content>
      <h1>Some more tab content</h1>
      <ul>
        <li *ngFor="let track of tracks">
          {{track.initUrl}}
        </li>

        <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
      </ul>
    </template>
  </md-tab>
</md-tab-group>

