<md-tab-group >

  <md-tab>
    <template md-tab-label>Init</template>
    <template md-tab-content>
      <app-player></app-player>
    </template>
  </md-tab>

  <md-tab>
    <template md-tab-label>Status</template>
    <template md-tab-content>
      <h1>
        <app-info></app-info>
        <button md-raised-button>RAISED</button>
      </h1>
    </template>
  </md-tab>

  <md-tab class="ccc">
    <template md-tab-label>Tracks</template>
    <template md-tab-content>
      <div *ngFor="let track of tracks">
        <app-track-info [track]="track"></app-track-info>
      </div>
    </template>
  </md-tab>

</md-tab-group>

