<div class="container">
  <div class="show-grid">
    <md-card class="row col-sm-9">
      <a href="{{track.initUrl}}"><h3>{{track.title}}</h3></a>
      <div class="row">
        <a href="{{track.initUrl}}">
          <div class="col-md-6">
            <img class="img-responsive" layout="flex" src="{{track.localCoverSrc}}"/>
          </div>
        </a>
        <!--
        <div class="col-md-6">

        </div>
        -->
      </div>
      <h5>author</h5>
      <h5>{{track.author}}</h5>
    </md-card>
  </div>
</div>

